<!doctype html>
<html lang="en">

<head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <!--<script src="angular.min.js"></script>-->
    <script src="app.js"></script>
</head>

<body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as narrow">
        <h1>Narrow Down Your Chinese Menu Choice</h1>
        <div class="form-group">
            <input type="text" placeholder="search term" class="form-control" ng-model="narrow.searchItem">
        </div>
        <div class="form-group narrow-button">
            <button class="btn btn-primary" ng-click="narrow.getMatchedMenuItems()">Narrow It Down For Me!</button>  
        </div>   

        <!-- found-items should be implemented as a component -->
        <found-items></found-items>
    </div>

</body>

</html>